[Unit]
Description=NVMe Event Monitor for Automatical Subsystem Connection
Documentation=man:nvme-monitor(1)
DefaultDependencies=false
RequiresMountsFor=/sys /dev /proc /run
Conflicts=shutdown.target
Before=sysinit.target systemd-udev-trigger.service nvmefc-boot-connections.service
IgnoreOnIsolate=true

[Service]
Type=simple
ExecStart=/usr/sbin/nvme monitor -A -p
KillMode=mixed

[Install]
WantedBy=sysinit.target
