[Unit]
Description=NVMe Event Monitor for Automatical Subsystem Connection
Documentation=man:nvme-monitor(1)
DefaultDependencies=false
Requires=systemd-udevd-kernel.socket
RequiresMountsFor=/sys
Conflicts=shutdown.target
After=systemd-udevd-kernel.socket
Before=sysinit.target systemd-udev-trigger.service nvmefc-boot-connections.service

[Service]
Type=simple
Environment="NVME_MONITOR_OPTIONS=-A -p"
EnvironmentFile=-/etc/sysconfig/nvme-monitor
ExecStart=/usr/sbin/nvme monitor $NVME_MONITOR_OPTIONS
KillMode=mixed

[Install]
WantedBy=sysinit.target
